{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
